body {

    background: #f4f4f4;
    color: #333;
    }
    
.container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 1px auto;
    padding: 150px;
    padding-top: 15px;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    color: #151313;
    text-align: center;
    display: flex;
    align-items:center;

}
.horizontal-line {
    border: 1px solid #0a0a0a; 
}

.task-filters {
    display: flex;
    margin-top: 30px;
}

.task-filter {
    margin-right: 100px;
    cursor: pointer;
    color: #080808;
    margin-left: 50px;
    margin-bottom: 10px;

}

.task-filter:not(:last-child) {
    margin-right: 45px;                  
}


.tasks {
    width: 100%;
    margin-top: 10px;
}

.task {
    display: flex;
    align-items:center;
    margin-bottom: 5px;
    padding: 3px;
    background-color: #fff;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.task:hover {
    transform: scale(1.02);
}

.task label {
    margin-right: 10px;
    flex: 1;
}

.status-box {
    margin-left: auto;
}

.status-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease-in-out;
    appearance: none; 
    font-size: 14px; 
    color: #555; 
    cursor: pointer;

}


.status-select:hover {
    background-color: #ecb2b2; 

}

.upcoming-tasks {
    width: 100%;
    margin-top: 20px;
}

.upcoming-tasks h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 30px;
    margin-bottom: 15px;
    color: #333;
}

.upcoming-tasks .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    padding: 12px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.upcoming-tasks .task:hover {
    transform: scale(1.02);
}

.upcoming-tasks .status-box {
    margin-left: auto;
}

.upcoming-tasks .status-box .status {
    color: #808080;
}

.schedule-section {
    margin-top: 20px;
    margin-left: 50px;
    
}

.schedule-card {
    width: 290px;
    margin-top: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.schedule-card:hover {
    transform: scale(1.02);
}

.tasks {
    width: calc(70% - 20px); 
    margin-top: 20px;
}

.person-images-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.person-image {
    border-radius: 50%;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    margin-right:5px; 
    border: 2px solid #fff; 
}

.schedule-card {
    background-color: #FFC3B0;
    position: relative;
    margin-bottom: 20px; 
    padding: 15px; 
    border-radius: 10px; 
}

.schedule-card:nth-child(2) {
    background-color: #AEDFF7;
}

.schedule-card:nth-child(3) {
    text-align: justify;
    background-color: #FFECB3;
}

.schedule-card:nth-child(4) {
    background-color: #C1FFC1;
}

.schedule-card:nth-child(5) {
    background-color: #AEDFF7;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.email-container {
    display: flex;
    height:auto;
}

.sidebar {
    width: 200px;
    background-color: #fafafa;
    color: #040404;
    padding: 30px;
}

.sidebar-item {
    margin-bottom: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;

}


.sidebar-icon {
    margin-right:7px;
}

.main-content {
    flex: 1;
    padding: 500px;
}

.sidebar-sub-item {
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.sidebar-sub-icon {
    margin-right: 7px;
}

.sidebar-sub-icon {
    font-size: 20px;
}


.sidebar--item{

    padding-bottom: 70px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

